fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic-settings
celery
redis
slowapi
python-multipart
requests
feedparser
spotipy
whisperx
qdrant-client==1.12.1
langchain
langchain-community
langchain-ollama
sentence-transformers
python-jose[cryptography]
passlib[bcrypt]
email-validator
protobuf
transformers
sentencepiece
accelerate
tiktoken
